@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital@1&display=swap');

body {
  font-family: 'DM Sans', sans-serif;
}

img {
  max-width: 100%;
  

}

header a {
  text-decoration: none;
  color: rgb(211, 155, 155);
}

header a.logo {
  font-family: 'Old Standard TT', serif;
}


